<h1>Edit Band</h1>

<form class="container-fluid" method="POST" action="/bands/<%= band.id %>">
  <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= band.name %>" class="form-control">
    </div>
    <div class="form-group">
      <label for="members">Members</label>
    <input type="text" name="members" id="members" value="<%= band.members %>" class="form-control">
    </div>
    <div class="form-group">
      <label for="genre">Genre</label>
      <input type="text" name="genre" id="genre" value="<%= band.genre %>" class="form-control">
    </div>
    <div class="form-group">
      <label for="website">Website or Facebook Page</label>
      <input type="text" name="website" id="website" value="<%= band.website %>" class="form-control">
    </div>
    <div class="form-group">
      <label>Band Image</label>
      <p>Please provide a link to the image</p>
      <input type="text" name="image" value="<%= band.image %>" class="form-control">
    </div>
    <button class="btn btn-primary">Update Band Info</button>
  </form>
