<h1><%= band.name %></h1>

<img src="<%= band.image %>" alt="<%= band.name %>/'s photo">
<button type="button" class="btn btn-secondary btn-sm">&#10025;</button>

<a href="<%= band.website %>">Website</a>

<h4>Genre</h4>
<p><%= band.genre %></p>
<% if(locals.isLoggedIn) { %>
  <a href="/bands/<%= band.id %>/edit" class="btn btn-primary">Edit Band</a>
  <form method="POST" action="/bands/<%= band.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger">Delete Band</button>
  </form>
<% } %>

<ul class="comments" data-spy="scroll">
<% band.comments.forEach(comment => { %>
  <li><a href="/users/<%= comment.user._id %>"><%= comment.user.username %></a>
  <%= comment.body %></li>
<% }) %>
</ul>

<form method="POST" action="/bands/<%= band.id %>/comments">
  <div class="form-group">
    <label for="body">Please leave a comment</label>
    <textarea id="body" name="body" class="form-control"></textarea>
  </div>
  <input type="submit" class="btn">
</form>
